services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: notexia
      POSTGRES_PASSWORD: notexia
      POSTGRES_DB: notexia
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: